@inherits LayoutComponentBase

<PageTitle>Troy Thompson - Blog</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @*Facebook*@
            <a href="https://www.facebook.com/antr09" target="_blank"><i class="fab fa-facebook" style="font-size: 40px;"></i></a>
            @*GitHub*@
            <a href="https://github.com/JollyKrampus" target="_blank"><i class="fab fa-github" style="font-size: 40px;"></i></a>
            @*LinkedIn*@
            <a href="https://www.linkedin.com/in/troy-thompson-73a86b96/" target="_blank"><i class="fab fa-linkedin" style="font-size: 40px;"></i></a>
            @*Twitter*@
            <a href="https://www.twitch.tv/jolly_krampus" target="_blank"><i class="fab fa-twitch" style="font-size: 40px;"></i></a>
            @*Twitter*@
            <a href="https://twitter.com/troythewizard" target="_blank"><i class="fab fa-twitter" style="font-size: 40px;"></i></a>
            @*YouTube*@
            <a href="https://www.youtube.com/channel/UCiq5MqkymI1R27o2RVjyHhQ" target="_blank"><i class="fab fa-youtube" style="font-size: 40px;"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
