@page "/about"

<PageTitle>About Troy Thompson</PageTitle>

<div class="mt-4 p-5 bg-dark text-white rounded">
    <h1>Disciple <i class="fas fa-laugh-beam"></i> Husband <i class="fas fa-ring"></i> Father <i class="fas fa-gifts"></i> Son <i class="fas fa-male"></i> Brother <i class="fas fa-hands-helping"></i></h1>
    <h2>Full Stack Developer <i class="fas fa-hands-helping"></i> Nintendo & XBox Gamer (AKA controller pleb) <i class="fas fa-gamepad"></i></h2>
    <h2>Metalhead <i class="fas fa-headphones"></i> Amateur Chef <i class="fas fa-utensils"></i> Collector <i class="far fa-hand-spock"></i> Horror Fan <i class="fas fa-book-dead"></i></h2>
    <h2>Middle-Earth Resident <i class="fas fa-dragon"></i> Ravenclaw Probably <i class="fas fa-quidditch"></i> Wizard Class <i class="fas fa-magic"></i></h2>
</div>