@page "/"

<PageTitle>Troy Thompson - Blog</PageTitle>

<h1>Personal information safe for the public <img src="G.png" alt="G.png"/></h1>
<hr/>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="mt-1 p-1 bg-dark text-white rounded">
                <h2 align="center">Entries</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge bg-secondary text-dark">January 30, 2022</span>
                    <a href="#">
                        <b style="font-size: 150%">An item with a description, it's funny you won't believe you, you gotta read it, then maybe you'll believe it, unless you get distracted when you read like I do....</b>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col">
            <div class="mt-1 p-1 bg-dark text-white rounded">
                <h2 align="center">100% factual opinions</h2>
            </div>

            <div class="card" style="display: inline-block; width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge bg-secondary text-dark">January 30, 2022</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill bg-dark">Middle-Earth</span> thought</h6>
                    <p class="card-text">Peter Jackson's "The Hobbit" trilogy was perfect, it should have been even longer.</p>
                </div>
            </div>
            <div class="card" style="display: inline-block; width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge bg-secondary text-dark">January 30, 2022</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill bg-dark">Middle-Earth</span> thought</h6>
                    <p class="card-text">Peter Jackson's "The Hobbit" trilogy was perfect, it should have been even longer.</p>
                </div>
            </div>
            <div class="card" style="display: inline-block; width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge bg-secondary text-dark">January 30, 2022</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill bg-dark">Middle-Earth</span> thought</h6>
                    <p class="card-text">Peter Jackson's "The Hobbit" trilogy was perfect, it should have been even longer.</p>
                </div>
            </div>
            <div class="card" style="display: inline-block; width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge bg-secondary text-dark">January 30, 2022</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill bg-dark">Middle-Earth</span> thought</h6>
                    <p class="card-text">Peter Jackson's "The Hobbit" trilogy was perfect, it should have been even longer.</p>
                </div>
            </div>
            <div class="card" style="display: inline-block; width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge bg-secondary text-dark">January 30, 2022</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill bg-dark">Middle-Earth</span> thought</h6>
                    <p class="card-text">Peter Jackson's "The Hobbit" trilogy was perfect, it should have been even longer.</p>
                </div>
            </div>
            <div class="card" style="display: inline-block; width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge bg-secondary text-dark">January 30, 2022</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="badge rounded-pill bg-dark">Middle-Earth</span> thought</h6>
                    <p class="card-text">Peter Jackson's "The Hobbit" trilogy was perfect, it should have been even longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>